[include driver_z/tmc2240_z.cfg]

[stepper_z]
step_pin: mcu:E_STEP
dir_pin: mcu:E_DIR
enable_pin: mcu:E_ENABLE
rotation_distance: 32
gear_ratio: 50:10
microsteps: 128
full_steps_per_rotation: 200
endstop_pin: ^mcu:Z_STOP
position_endstop: 120
position_max: 120
position_min: -1.5
homing_speed: 20
second_homing_speed: 3.0
homing_retract_dist: 3.0
#homing_positive_dir: true