
[gcode_macro _CHECK_FILAMENT]
gcode:
  {% set filament_entry_sensor_enabled = printer["gcode_macro _USER_VARIABLES"].filament_entry_sensor_enabled %}
  {% set filament_buffer_enabled = printer["gcode_macro _USER_VARIABLES"].filament_buffer_enabled %}

  {% if filament_entry_sensor_enabled %}
      {% set filament_entry_sensor_triggered = 0 %}
      {% if printer['filament_switch_sensor entry_sensor'].filament_detected == True %}
        {% set filament_entry_sensor_triggered = 1 %}
        RESPOND MSG="Филамент загружен в экструдер"
      {% endif %}
  {% endif %}

  {% if filament_buffer_enabled %}
      {% set filament_buffer_sensor_triggered = 0 %}
      {% if printer['filament_switch_sensor buffer_insert'].filament_detected == True %}
          {% set filament_buffer_sensor_triggered = 1 %}
          RESPOND MSG="Филамент загружен в буфер"
      {% endif %}
  {% endif %}

  {% if filament_entry_sensor_enabled and filament_buffer_enabled %}
      {% if filament_entry_sensor_triggered == 0 and filament_buffer_sensor_triggered == 0 %}
          { action_raise_error("Ошибка. Филамент не загружен в систему!") }

      {% elif filament_entry_sensor_triggered == 0 and filament_buffer_sensor_triggered == 1 %}
          RESPOND MSG="Филамент загружен в буфер но отсутствует в экструдере"
          RESPOND MSG="Начинаю загрузку филамента"
          PAUSE
      {% elif filament_entry_sensor_triggered == 1 and filament_buffer_sensor_triggered == 1 %}
          RESPOND MSG="Филамент загружен в систему, готов к печати"
      {% endif %}
  {% endif %}


[gcode_macro CHANGE_FILAMENT]
description: Do a PAUSE, park the toolhead over the purge bucket and unload the filament
gcode:
    {% set TEMP = params.TEMP|default(printer["gcode_macro _USER_VARIABLES"].print_default_extruder_temp)|float %}
    {% set DISTANCE = params.DISTANCE|default(105)|float %}

    SAVE_GCODE_STATE NAME=CHANGE_FILAMENT_state
    PAUSE
    UNLOAD_FILAMENT TEMP={TEMP} DISTANCE={DISTANCE}
    RESTORE_GCODE_STATE NAME=CHANGE_FILAMENT_state


[gcode_macro UNLOAD_FILAMENT]
description: Basic unload of the filament (used with M600/CHANGE_FILAMENT)
gcode:
    {% set TEMP = params.TEMP|default(printer["gcode_macro _USER_VARIABLES"].print_default_extruder_temp)|float %}
    {% set DISTANCE = params.DISTANCE|default(120)|float %}

    {% set verbose = printer["gcode_macro _USER_VARIABLES"].verbose %}
    {% set filament_entry_sensor_enabled = printer["gcode_macro _USER_VARIABLES"].filament_entry_sensor_enabled %}
    
    {% set re_enable_entry_filament_sensor = 0 %}

    {% if filament_entry_sensor_enabled and re_enable_entry_filament_sensor %}
        {% if (printer['filament_switch_sensor entry_sensor'] is defined and printer['filament_switch_sensor entry_sensor'].enabled) %}
            SET_FILAMENT_SENSOR SENSOR="entry_sensor" ENABLE=0
            {% set re_enable_entry_filament_sensor = 1 %}
            {% if verbose %}
                RESPOND MSG="Датчик обнаружения филамента деактивирован"
            {% endif %}
        {% endif %}
    {% endif %}


    SAVE_GCODE_STATE NAME=UNLOAD_FILAMENT_state
    _LOW_TEMP_CHECK T={TEMP}

    _TIP_SHAPING
    M83
    #G1 E-20 F3600
    G4 P3000
    G1 E{DISTANCE|float * -1} F1000

    # Flushing Klipper's buffer to ensure the unload is done before continuing
    M400

    RESTORE_GCODE_STATE NAME=UNLOAD_FILAMENT_state

    {% if filament_entry_sensor_enabled and re_enable_entry_filament_sensor %}
        SET_FILAMENT_SENSOR SENSOR="entry_sensor" ENABLE=1
        {% if verbose %}
            RESPOND MSG="Филамент выгружен"
        {% endif %}
    {% endif %}

[gcode_macro LOAD_FILAMENT]
description: Basic load of the filament (used with M600/CHANGE_FILAMENT)
gcode:
    {% set TEMP = params.TEMP|default(printer["gcode_macro _USER_VARIABLES"].print_default_extruder_temp)|float %}
    {% set DISTANCE = params.DISTANCE|default(150)|float %}

    {% set verbose = printer["gcode_macro _USER_VARIABLES"].verbose %}
    {% set filament_entry_sensor_enabled = printer["gcode_macro _USER_VARIABLES"].filament_entry_sensor_enabled %}

    {% set re_enable_entry_filament_sensor = 0 %}
    
    
    {% if filament_entry_sensor_enabled and re_enable_entry_filament_sensor %}
        {% if (printer['filament_switch_sensor entry_sensor'] is defined and printer['filament_switch_sensor entry_sensor'].enabled) %}
            SET_FILAMENT_SENSOR SENSOR="entry_sensor" ENABLE=0
            {% set re_enable_entry_filament_sensor = 1 %}
            {% if verbose %}
                RESPOND MSG="Датчик обнаружения филамента деактивирован для загрузки филамента"
            {% endif %}
        {% endif %}
    {% endif %}

      
      SAVE_GCODE_STATE NAME=LOAD_FILAMENT_state
      _LOW_TEMP_CHECK T={TEMP}
      M83
      G92 E0
      G1 E{DISTANCE|float} F450
      G1 E50 F150

      M400

      G92 E0
        RESTORE_GCODE_STATE NAME=LOAD_FILAMENT_state

      {% if filament_entry_sensor_enabled and re_enable_entry_filament_sensor %}
        SET_FILAMENT_SENSOR SENSOR="entry_sensor" ENABLE=1
        {% if verbose %}
            RESPOND MSG="Филамент загружен"
        {% endif %}
      {% endif %}
         
[gcode_macro _LOAD_FILAMENT_ENTRY_SENSOR_TRIGGERED]
gcode:
    {% set verbose = printer["gcode_macro _USER_VARIABLES"].verbose %}
    {% set status_leds_enabled = printer["gcode_macro _USER_VARIABLES"].status_leds_enabled %}

    {% if status_leds_enabled %}
      STATUS_HEATING
    {% endif %}
    
    {% if verbose %}
            RESPOND MSG="Обнаружен филамент, начинаю загрузку в экструдер"
    {% endif %}

    LOAD_FILAMENT
    M400
    
    {% if status_leds_enabled %}
      STATUS_READY
    {% endif %}
    
[gcode_macro _FILAMENT_BREAKAGE_DETECTED]
gcode:
    {% set TEMP = params.TEMP|default(printer["gcode_macro _USER_VARIABLES"].print_default_extruder_temp)|float %}
    {% set verbose = printer["gcode_macro _USER_VARIABLES"].verbose %}
    {% set filament_entry_sensor_enabled = printer["gcode_macro _USER_VARIABLES"].filament_entry_sensor_enabled %}




[gcode_macro _TIP_SHAPING]
description: Perform tip-shaping, retraction, and cooling moves
gcode:

    {% set TEMP = params.TEMP|default(printer["gcode_macro _USER_VARIABLES"].print_default_extruder_temp)|float %}
    {% set verbose = printer["gcode_macro _USER_VARIABLES"].verbose %}
    {% set filament_sensor_enabled = printer["gcode_macro _USER_VARIABLES"].filament_toolhead_sensor_enabled %}
    #{% set klippain_mmu_enabled = printer["gcode_macro _USER_VARIABLES"].klippain_mmu_enabled %}
    {% set re_enable_filament_sensor = 0 %}

    {% if filament_sensor_enabled %}
        {% if (printer['filament_switch_sensor toolhead_sensor'] is defined and printer['filament_switch_sensor toolhead_sensor'].enabled) %}
            SET_FILAMENT_SENSOR SENSOR="toolhead_sensor" ENABLE=0
            {% set re_enable_filament_sensor = 1 %}
            {% if verbose %}
                RESPOND MSG="Датчик обнаружения филамента деактивирован"
            {% endif %}
        {% endif %}
    {% endif %}
    
    SAVE_GCODE_STATE NAME=Shape_Tip_state
    _LOW_TEMP_CHECK T={TEMP}
    Save_Pressure_Advance
    M83  
    M220 S100
    SET_PRESSURE_ADVANCE ADVANCE=0
    G1 F68
    G1 E0.2816
    G1 F73
    G1 E0.3051
    G1 F83
    G1 E0.3453
    G1 F96
    G1 E0.399
    G1 F114
    G1 E0.4761
    G1 F138
    G1 E0.5767
    G1 F163
    G1 E0.5691
    G1 F162
    G1 E0.1081
    G1 F196
    G1 E0.7644
    G1 F186
    G1 E0.8248
    G1 F203
    G1 E0.8483
    G1 E-15 F6000
    G1 E-15.4 F5400
    G1 E-4.4 F2700
    G1 E-2.2 F1620
    G1 E14 F1200
    G1 E-14
    G1 E14
    G1 E-14
    G1 E14
    G1 E-14
    G1 E14
    G1 E-14
    ; SKINNYDIP START
    G1 E24 F1980
    G4 P0
    G1 E-24 F4200
    G4 P0
    ; SKINNYDIP END
    G1 F2000
    G4 S0

    Restore_Pressure_Advance

    M400
    
    RESTORE_GCODE_STATE NAME=Shape_Tip_state

    
    {% if filament_sensor_enabled and re_enable_filament_sensor %}
        SET_FILAMENT_SENSOR SENSOR="toolhead_sensor" ENABLE=1
        {% if verbose %}
            RESPOND MSG="Формовка филамента завершена"
        {% endif %}
    {% endif %}

[gcode_macro Save_Pressure_Advance]
description: Save the current pressure advance value
variable_pa: -1
gcode:
    {% set pa = printer.extruder.pressure_advance %}
    {% if pa > 0 %}
        SET_GCODE_VARIABLE MACRO=Save_Pressure_Advance VARIABLE=pa VALUE={pa}
    {% endif %}

[gcode_macro Restore_Pressure_Advance]
description: Restore saved pressure advance value
gcode:
    {% if not (printer['gcode_macro Save_Pressure_Advance'].pa == -1) %}
        SET_PRESSURE_ADVANCE ADVANCE={printer['gcode_macro Save_Pressure_Advance'].pa}
    {% endif %}

[gcode_macro _LOW_TEMP_CHECK]
description: Check the nozzle is at temperature and heat it if needed
gcode: 
    {% set T = params.T|default(printer["gcode_macro _USER_VARIABLES"].print_default_extruder_temp)|float %}

    {% if printer.extruder.target != 0 %}
        {% if printer.extruder.temperature < printer.extruder.target %}
            M109 S{printer.extruder.target|float} 
        {% endif %}
    {% else %}
        {% if printer.extruder.target < T %}
            M109 S{T}
        {% endif %}
    {% endif %}
