
[heater_bed]
pid_kp: 54.247 
pid_ki: 2.956 
pid_kd: 248.857

[extruder]
nozzle_diameter: 0.6
pid_kp: 11.273
pid_ki: 2.928
pid_kd: 28.905




#[stepper_x]



#[stepper_y]



[input_shaper]
shaper_type_x: ei
shaper_freq_x: 149.4
damping_ratio_y: 0.065

shaper_type_y: ei
shaper_freq_y: 88.4
damping_ratio_y: 0.028

#-------------------------#
#   START_PRINT SEQUENCE  #
#-------------------------#

[gcode_macro _USER_VARIABLES]
variable_startprint_actions: "extruder_preheating", "bed_soak", "chamber_soak", "toolhead_parking", "extruder_heating", "purging"
gcode: 

#
