
[heater_bed]
pid_kp: 54.247 
pid_ki: 2.956 
pid_kd: 248.857

[extruder]
nozzle_diameter: 0.5
pid_kp: 10.951
pid_ki: 3.042
pid_kd: 26.256



#[stepper_x]



#[stepper_y]



[input_shaper]
shaper_type_x: ei
shaper_freq_x: 133.2
damping_ratio_y: 0.033

shaper_type_y: ei
shaper_freq_y: 57.6
damping_ratio_y: 0.047

#-------------------------#
#   START_PRINT SEQUENCE  #
#-------------------------#

[gcode_macro _USER_VARIABLES]
variable_startprint_actions: "extruder_preheating", "bed_soak", "chamber_soak", "toolhead_parking", "extruder_heating", "purging"
gcode: 

#
