
[heater_bed]
pid_kp: 54.247 
pid_ki: 2.956 
pid_kd: 248.857

[extruder]
nozzle_diameter: 0.4
pid_kp: 7.838
pid_ki: 1.493
pid_kd: 27.404
pressure_advance_smooth_time: 0.02




[stepper_x]
rotation_distance: 39.935


[stepper_y]
rotation_distance: 39.935

[stepper_z]
position_endstop: 116.7


[input_shaper]
shaper_type_x: ei
shaper_freq_x: 96.2
damping_ratio_y: 0.044

shaper_type_y: ei
shaper_freq_y: 77.0
damping_ratio_y: 0.034

#-------------------------#
#   START_PRINT SEQUENCE  #
#-------------------------#

[gcode_macro _USER_VARIABLES]
variable_startprint_actions: "extruder_preheating", "bed_soak", "chamber_soak", "toolhead_parking", "extruder_heating", "purging"
gcode: 

#
