##############################################
##                    MCU                   ##
##############################################
[include mcu.cfg]
##############################################

##############################################
##                  KINEMATIC              ##
##############################################
[include config/hardware/kinematic/kinematic.cfg]
##############################################


##############################################
##                   AXES                   ##
##############################################
[include config/hardware/axis/x/x_axis.cfg]
[include config/hardware/axis/y/y_axis.cfg] 
[include config/hardware/axis/z/z_axis.cfg] 
###############################################




##############################################
##             HEATER BED                   ##
##############################################
[include config/hardware/bed_heater/bed_heater.cfg]
###############################################

##############################################
##             Extruder                   ##
##############################################
[include config/hardware/extruder/extruder/extruder.cfg]
###############################################

##############################################
##             TEMPERATURE SENSORS           ##
##############################################
[include config/hardware/temperature_sensors/psu_sensor.cfg]
[include config/hardware/temperature_sensors/chamber.cfg]

##############################################
##             FANS          ##
##############################################
[include config/hardware/fans/part_fan.cfg]
[include config/hardware/fans/hotend_fan.cfg]


[include config/machine.cfg]