##############################################
##                    MCU                   ##
##############################################
[include mcu.cfg]
##############################################

##############################################
##                  KINEMATIC              ##
##############################################
[include config/hardware/kinematic/kinematic.cfg]
##############################################


##############################################
##                   AXES                   ##
##############################################
[include config/hardware/axis/x/x_axis.cfg]
[include config/hardware/axis/y/y_axis.cfg] 
[include config/hardware/axis/z/z_axis.cfg] 
###############################################




##############################################
##             HEATER BED                   ##
##############################################
[include config/hardware/bed_heater/bed_heater.cfg]
###############################################


[include config/machine.cfg]