[gcode_macro END_PRINT]
description: Stop the print 
gcode:
    {% set disable_motor_on_end_print = printer["gcode_macro _USER_VARIABLES"].disable_motor_on_end_print %}
    {% set light_enabled = printer["gcode_macro _USER_VARIABLES"].caselight_enabled %}
    {% set status_leds_enabled = printer["gcode_macro _USER_VARIABLES"].status_leds_enabled %}
    {% set scew_profile_enabled = printer["gcode_macro _USER_VARIABLES"].scew_profile_enabled %}
    {% set light_intensity_end_print = printer["gcode_macro _USER_VARIABLES"].light_intensity_end_print %}
    {% set filament_sensor_enabled = printer["gcode_macro _USER_VARIABLES"].filament_toolhead_sensor_enabled %} 
    {% set filament_entry_sensor_enabled = printer["gcode_macro _USER_VARIABLES"].filament_entry_sensor_enabled %}
   # {% set chamber_current_temp = printer["temperature_sensor Chamber"].temperature %}

    
    TURN_OFF_HEATERS

    {% if printer.extruder.can_extrude %}
       G92 E0
       G1 E-10 F2100
    {% endif %}

    PARK
    
    M400 
    M84
    



    {% if scew_profile_enabled %}
        SET_SKEW CLEAR=1
    {% endif %}


    {% if light_enabled %}
        _CASELIGHT_PRINTING_DONE
    {% endif %}
    
    {% if status_leds_enabled %}
        status_startup
    {% endif %}

    {% if filament_sensor_enabled and filament_entry_sensor_enabled %}
        SET_FILAMENT_SENSOR SENSOR="entry_sensor" ENABLE=1
        #SET_FILAMENT_SENSOR SENSOR="toolhead_sensor" ENABLE=1
    {% endif %}


    
    SET_IDLE_TIMEOUT TIMEOUT=600
    
    RESPOND MSG="Печать окончена"




 