[include driver_x/tmc2240_x.cfg]

[stepper_x]
step_pin: mcu:X_STEP
dir_pin: !mcu:X_DIR
enable_pin: !mcu:X_ENABLE
rotation_distance: 40
microsteps: 128
full_steps_per_rotation: 200
endstop_pin: tmc2240_stepper_x:virtual_endstop
position_min: 0
position_max: 120
position_endstop: 120
homing_speed: 40
homing_retract_dist: 0
#homing_positive_dir: true