[heater_bed]
heater_pin: mcu:BED_HEATER
sensor_type: Generic 3950
sensor_pin: mcu:BED_TEMPERATURE
#smooth_time: 3.0
max_power: 1
control: pid
pid_kp: 68.453
pid_ki: 2.749
pid_kd: 426.122
min_temp: 0
max_temp: 120