

[include driver/tmc2209/tmc2209.cfg]


[extruder]
step_pin: mcu:E_STEP
dir_pin: mcu:E_DIR
enable_pin: !mcu:E_ENABLE
uart_pin: mcu:E_TMCUART

microsteps: 32
full_steps_per_rotation: 200
rotation_distance: 4.69
max_extrude_only_distance: 500
max_extrude_only_velocity: 120

nozzle_diameter: 0.4
filament_diameter: 1.75
pressure_advance: 0.02
pressure_advance_smooth_time: 0.2

heater_pin: mcu:E_HEATER
max_power: 0.8
#max_power: 0.995
pwm_cycle_time: 0.1
#pwm_cycle_time: 0.1
smooth_time: 0.4
#smooth_time: 0.4
control: pid
pid_Kp: 1
pid_Ki: 1
pid_Kd: 1


min_extrude_temp: 200
min_temp: 20
max_temp: 340

sensor_type: PT1000
sensor_pin: mcu:E_TEMPERATURE
#   Analog input pin connected to the sensor. This parameter must be
#   provided.
#pullup_resistor: 4700
#   The resistance (in ohms) of the pullup attached to the sensor. The
#   default is 4700 ohms.

