[include ../../software/shake_tune/shake_tune.cfg] 

[adxl345]
cs_pin: toolhead:ADXL_CS
#   The SPI enable pin for the sensor. This parameter must be provided.
#spi_speed: 5000000
#   The SPI speed (in hz) to use when communicating with the chip.
#   The default is 5000000.
#spi_bus:
#spi_software_sclk_pin:
#spi_software_mosi_pin:
#spi_software_miso_pin:
axes_map: x, y, z



[resonance_tester]
accel_chip: adxl345
probe_points: 60, 60, 60 # an example