[include ../../software/shake_tune/shake_tune.cfg] 

[adxl345]
cs_pin: toolhead:ADXL_CS
#   The SPI enable pin for the sensor. This parameter must be provided.
#spi_speed: 5000000
#   The SPI speed (in hz) to use when communicating with the chip.
#   The default is 5000000.
spi_bus: spi2_PB2_PB11_PB10
#spi_software_sclk_pin: toolhead:ADXL_SCLK
#spi_software_mosi_pin: toolhead:ADXL_MOSI
#spi_software_miso_pin: toolhead:ADXL_MISO
axes_map: x, z, -y



[resonance_tester]
accel_chip: adxl345
probe_points: 60, 60, 60 # an example